.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.summer {
    background-color: rgb(255, 221, 158);
}

.winter {
    background-color: rgb(224, 255, 255);
}

.season-display.winter i {
    color: rgb(62, 62, 255);
}

.season-display.summer i {
    color:rgb(224, 146, 0)
}